<div class="container-fluid">
    <form action="">
        <div class="row py-3 row-cols-6">
            <div class="col">结算金额：</div>
            <div class="col">100.00</div>
        </div>
        <div class="row py-3 row-cols-6">
            <div class="col">
                结算方式：
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payWay" id="" value="option1"
                       checked>
                <label class="form-check-label" for="">
                    现金
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payWay" id="" value="option2">
                <label class="form-check-label" for="">
                    POS
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payWay" id="" value="option2">
                <label class="form-check-label" for="">
                    银行卡转账
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payWay" id="" value="option2">
                <label class="form-check-label" for="">
                    支付宝
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payWay" id="" value="option2">
                <label class="form-check-label" for="">
                    微信
                </label>
            </div>
        </div>
        <div class="row row-cols-3">
            <div class="form-group col">
                <label for="code" class="">流水号</label>
                <input type="text" class="form-control" name="code" id="code"/>
            </div>
        </div>
        <div class="">
            <button type="button" class="btn btn-primary">确定</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>

