<#bs4Body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">结算单</li>
            </ol>
        </nav>
    </div>
    <form id="queryForm" role="form" novalidate>
        <div class="row">
            <div class="form-group col-auto">
                业务类型
            </div>
            <div class="form-group col-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox0" value="option1">
                    <label class="form-check-label" for="inlineCheckbox0">全选</label>
                </div>
            </div>
            <div class="form-group col-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">摊位租赁</label>
                </div>
            </div>
            <div class="form-group col-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">公寓租赁</label>
                </div>
            </div>
        </div>
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="" class="">业务所属部门</label>
                <select id="" name="" class="form-control"></select>
                <#bcomboProvider _id="" _provider="" _value=""/>
            </div>
            <div class="form-group col">
                <label for="customerName" class="">客户名称</label>
                <input type="text" class="form-control" name="customerName" id="customerName"/>
            </div>
            <div class="form-group col">
                <label for="stallName" class="">结算员</label>
                <input type="text" class="form-control" name="stallName" id="stallName"/>
            </div>
            <div class="form-group col">
                <label for="stallName" class="">结算编号</label>
                <input type="text" class="form-control" name="stallName" id="stallName"/>
            </div>
            <div class="form-group col">
                <label for="code" class="">业务单号</label>
                <input type="text" class="form-control" name="code" id="code"/>
            </div>
            <div class="form-group col">
                <label for="" class="">结算状态</label>
                <select id="" name="" class="form-control"></select>
                <#bcomboProvider _id="" _provider="" _value=""/>
            </div>
            <div class="form-group col">
                <label for="" class="">结算类型</label>
                <select id="" name="" class="form-control"></select>
                <#bcomboProvider _id="" _provider="" _value=""/>
            </div>
            <div class="form-group col">
                <label for="" class="">结算方式</label>
                <select id="" name="" class="form-control"></select>
                <#bcomboProvider _id="" _provider="" _value=""/>
            </div>
            <div class="form-group col">
                <label for="">结算日期</label>
                <input type="text" class="form-control laydatetime" id="createDate" placeholder="">
            </div>
        </div>
        <div class="">
            <button type="button" class="btn btn-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询
            </button>
            <button type="button" class="btn btn-secondary" onclick="javascript:$('#queryForm')[0].reset();"><i
                    class="fa fa-trash-o"></i> 清空
            </button>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="btn_cancel" type="button" class="btn btn-primary" onclick=""><i class="fa fa-print"></i>
                    单据补打
                </button>
            </div>
            <table id="grid" data-toggle="table" data-title="结算单" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-single-select="true"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="code" data-align="center">
                        业务单号
                    </th>
                    <th data-field="" data-align="center">
                        业务类型
                    </th>
                    <th data-field="departmentName" data-align="center">
                        业务所属部门
                    </th>
                    <th data-field="customerName" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-align="center">
                        联系电话
                    </th>
                    <th data-field="" data-align="center">
                        结算类型
                    </th>
                    <th data-field="amount" data-align="center">
                        金额
                    </th>
                    <th data-field="" data-align="center">
                        结算员
                    </th>
                    <th data-field="startTime" data-provider="dateProvider" data-align="center">
                        结算时间
                    </th>
                    <th data-field="state"
                        data-provider="leaseOrderStateProvider" data-align="center">
                        结算状态
                    </th>
                    <th data-field="" data-align="center">
                        结算方式
                    </th>
                    <th data-field="" data-align="center">
                        流水号
                    </th>
                    <th data-field="" data-align="center">
                        结算编号
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>

</#bs4Body>


<script>

    //  代码临时放在这里
    //时间范围
    lay('.laydatetime').each(function () {
        laydate.render({
            elem: this
            , trigger: 'click'
            , range: true
        });
    });


</script>